aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx
lyricsgenius
motor
pillow==9.5.0
psutil>=5.9.5
keyboard>=0.13.5
pyrogram==2.0.106
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
yt-dlp
pytgcalls
