aiofiles>=23.1.0
aiohttp>=3.8.5
asyncio
dnspython>=2.3.0
ffmpeg-python>=0.2.0
gitpython>=3.1.31
hachoir>=3.1.4
heroku3>=5.0.0
httpx>=0.24.1
lyricsgenius>=3.2.0
motor>=3.1.1
pillow==9.5.0
psutil>=5.9.5
pykeyboard>=1.0.7
pyrogram==2.0.106
python-dotenv>=1.0.0
pyyaml==5.3.1
requests>=2.31.0
speedtest-cli>=2.1.3
spotipy>=2.22.1
tgcrypto>=1.2.2
youtube-search>=1.1.6
youtube-search-python>=1.6.6
yt-dlp>=2025.10.17
